<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sport Tracker</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link type="text/css" rel="stylesheet" href="css/jquery.dataTables.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/leaflet-0.7.7.css"/>
    <link type="text/css" rel="stylesheet" href="css/leaflet.elevation-0.0.4.css"/>
    <link type="text/css" rel="stylesheet" href="css/leaflet.label.css"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css"/>

    <!-- Main CSS file -->
    <link type="text/css" rel="stylesheet" href="css/style.css"/>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/moment.min.js"></script>

    <!-- Maps -->
    <script src="js/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/leaflet-0.7.7.js"></script>
    <script src="js/leaflet.elevation-0.0.4.min.js"></script>
    <script src="js/leaflet.gpx.js"></script>
    <script src="js/leaflet.label.js"></script>


</head>
<body>

    {{{body}}}

</body>
</html>
